/* Structural styling */
:host {
  display: inline-grid;
}

[part~="input"] {
  grid-row-end: 3;
  grid-row-start: 1;
  outline: none;
  text-align: right;
}

[part~="spin-button"] {
  grid-column: 2;
  user-select: none;
}

/* Plain aesthetic styling */
:host {
  background: white;
  border: 1px solid gray;
  box-sizing: border-box;
}

[part~="input"] {
  background: transparent;
  border: none;
  width: 4em;
}

[part~="spin-button"] {
  background: transparent;
  border: 1px solid gray;
  box-sizing: border-box;
  font-size: 0.6em;
  padding: 2px;
}

[part~="up-button"] {
  border-right: none;
  border-top: none;
}

[part~="down-button"] {
  border-bottom: none;
  border-right: none;
  border-top: none;
}
